[user]
	name = Richard Batista
	email = 36830488+blue-stalfos@users.noreply.github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = /Users/Richard/.gitignore_global
